/* nav{
    background: rgba(246,65,108,255);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: auto;
}

.navlogo{
    width: 80px;
    height: 40px;
} */